<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
    <ion-back-button text=""></ion-back-button>
  </ion-buttons>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src=""/>
<ion-card>
  <ion-card-content>
    <p>Address:fake street</p>
    <p>compliment:Apto 222</p>
    <p>Neighborhood:neighborhood</p>
    <p>Zip code:123456</p>
    <p>City name:state</p>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="inset">
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full" color="success">Create pickup call</ion-button>

</ion-content>
